<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--配置全局属性-->
    <settings>
        <!--使用jdbc的getGeneratedKeys 获取数据库自增主键值-->
        <setting name="useGeneratedKeys" value="true"/>
        <!--使用列别名替换列名 默认：true
            select name as title from table
        -->
        <setting name="useColumnLabel" value="true"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>

    </settings>

    <typeHandlers>
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler"
                     javaType="org.manlier.contracts.ScheduleStatus"/>
        <typeHandler handler="org.manlier.models.typehandlers.CronExpressionTypeHandler"
                     javaType="org.quartz.CronExpression" jdbcType="VARCHAR"/>
        <typeHandler handler="org.manlier.models.typehandlers.DurationTypeHandler" javaType="java.time.Duration"
                     jdbcType="VARCHAR"/>
        <typeHandler handler="org.manlier.models.typehandlers.ZoneIdTypeHandler" javaType="java.time.ZoneId"
                     jdbcType="VARCHAR"/>
    </typeHandlers>


</configuration>